@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
 }
body{
    background: radial-gradient(104.36% 567.44% at 5.8% 95.79%, #0E091B 54.69%, #5B26A0 100%)
}

a{
    text-decoration: none;
    color: #fff;
} 

.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

header {
    height: 70px;
}

.header{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.flex{
    display: flex;
}

header nav {
    height: 100%;
}

header nav a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header nav a::after {
    content: '';
    position: absolute;

    bottom: 0px;
    left: 0;

    width: 0%;
    height: 3px;
    display: block;

    transition: all .4s;
    background-color: rgb(247, 41, 154);
}

header nav a:hover:after {
    width: 100%;
}

header nav a + a {
    margin-left: 30px;
}

.secao1{
    color: #fff;
    margin-top: 210px;
    justify-content: space-between;
}
h2{
    font-size: 23px;
    font-weight: 400;
}
h1{
    font-size: 30px;
} 
